<!DOCTYPE html> 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div class="container-result">

        <a th:href="@{/search}" class="form-label">Back</a>
        <h2 th:if=${username} class = h2><span th:text="${username}"></span>'s Bookmark</h2>
        <hr>

        <div data-th-if="${#lists.isEmpty(busStopBookmark)}">
            <h4>Your bookmark list is empty.</h4>
        </div>

        <div data-th-unless="${#lists.isEmpty(busStopBookmark)}"></div>
        <table border="1">
            <thead>
                <tr>
                    <th>Bus Stop Code</th>
                    <th>Road Name</th>
                    <th>Description</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="i: ${busStopBookmark}">
                    <td><span data-th-text="${i.busStopCode}"></span></td>
                    <td><span data-th-text="${i.roadName}"></span></td>
                    <td><span data-th-text="${i.description}"></span></td>
                    <td>
                        <form th:action="@{/searchResult}" method="post">
                            <input type="hidden" name="busStopCode" th:value="${i.busStopCode}" />
                            <button type="submit">Get info</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/delete}" method="post">
                            <input type="hidden" name="busStopCode" th:value="${i.busStopCode}" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</body>

</html>