<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Information</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
    <div class="container">

        <!-- Container for displaying bus information -->
        <div th:if="${busInfo != null}">

            <a th:href="@{/guest}">Back</a>

            <h2 class = h2>Bus Information</h2>
            <h4>Bus Stop: <span th:text="${busStop.busStopCode}"></span></h4>
            <h4><span th:text="${busStop.roadName}"></span>, <span th:text="${busStop.description}"></span></h4>
            <table border="1">
                <thead>
                    <tr>
                        <th>Service No</th>
                        <th>Load</th>
                        <th>Feature</th>
                        <th>Type</th>
                        <th>Arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="arrival : ${busInfo}">
                        <td><span th:text="${arrival.serviceNo}"></span></td>
                        <!-- <td><span th:text="${arrival.load}"></span></td> -->
                        <td>
                            <span th:if="${arrival.load == 'SEA'}"> Seats Available</span>
                            <span th:if="${arrival.load == 'SDA'}"> Standing Available</span>
                            <span th:if="${arrival.load == 'LSD'}"> Limited Standing</span>
                        </td>
                        <!-- <td><span th:text="${arrival.feature}"></span></td> -->
                        <td>
                            <span th:if="${arrival.feature == 'WAB'}">Wheel-chair accessible</span>
                            <!-- <span th:if="${arrival.feature == ''}">Not wheel-chair accessible</span> -->
                        </td>
                        <!-- <td><span th:text="${arrival.type}"></span></td> -->
                        <td>
                            <span th:if="${arrival.type == 'SD'}">Single-deck</span>
                            <span th:if="${arrival.type == 'DD'}">Double-deck</span>
                        </td>
                        <td>
                            <span th:if="${arrival.busOrder == 'NextBus'}">
                                <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
                            </span>
                            <span th:if="${arrival.busOrder == 'NextBus2'}">
                                <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
                            </span>
                            <span th:if="${arrival.busOrder == 'NextBus3'}">
                                <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>