<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Search</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div class="container">

        <!-- <button type="submit" formaction ="/">Back</button> -->
        <a th:href="@{/}">Back</a>

        <h2 class = h2>Bus Timing search: </h2>

        <form method="POST" th:object="${busStop}">
            <table>
                <tr>
                    <td><label for="busStopCode">Bus Stop Code: </label></td>
                    <td>
                        <input type="text" id="busStopCode" name="busStopCode" th:field="*{busStopCode}">
                        <span th:if="${#fields.hasErrors('busStopCode')}" th:errors="*{busStopCode}"
                            class="error"></span>
                    </td>
                </tr>

                <td></td>
                <td>
                    <button type="submit" formaction="/guestResult">Submit</button>
                </td>
            </table>
        </form>


    </div>
</body>

</html>