<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Search</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div class="container">
        <a th:href="@{/}" class="form-label">Back</a>
        <h2 class="h2">Bus Arrival Search</h2>
        <hr>
        <br>
        <form method="POST" th:object="${busStop}">
            <label for="busStopCode" class="form-label">Bus Stop Code:</label>
            <span th:if="${#fields.hasErrors('busStopCode')}" th:errors="*{busStopCode}" class="error"></span>
            <input type="text" id="busStopCode" name="busStopCode" th:field="*{busStopCode}">
            <br>
            <button type="submit" formaction="/guestResult">Submit</button>
        </form>
    </div>
</body>

</html>