<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Homepage</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
    <a th:href="@{/bookmark/api}" class="button">Rest API</a>
    <div class="container">
        

        <h2 class=h2>Bus Arrival Application</h2>
        <hr>

        <form method="POST" th:object="${user}">
            <div>
                <div>
                    <!-- <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span> -->
                    <br>
                    <label for="username" class="form-label">Username:</label>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span>
                    <input type="text" th:field="*{username}">
                </div>
                <div>
                    <button type="submit" formaction="/register">Login</button>
                    <br>
                </div>
                <br>

                <div class="body-text"> OR </div>

                <br>
                <div>
                    <td>
                        <button type="submit" formaction="/guest" class="guest-button">Continue as guest</button>
                    </td>

                </div>
            </div>
        </form>
    </div>
</body>

</html>