<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Search</title>
</head>

<body>

    <h2>Bus Timing search: </h2>

    <form method="POST" th:object="${busStop}">
        <table>
            <tr>
                <td><label for="busStopCode">Bus Stop Code: </label></td>
                <td>
                    <input type="text" id="busStopCode" name="busStopCode" th:field="*{busStopCode}">
                    <span th:if="${#fields.hasErrors('busStopCode')}" th:errors="*{busStopCode}" class="error"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" formaction="/searchResult">Submit</button>
                    <button type="submit" formaction="/bookmark">Bookmark</button>
                </td>
            </tr>
        </table>
    </form>

</body>

</html>