<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- Container for displaying bus information for debugging
    <div th:if="${busInfo != null}">
        <h2>Bus Information</h2>
        <p th:each="arrival : ${busInfo}">
            Arrival Object: <span th:utext="${arrival}"></span><br>
            <hr>
        </p>
    </div> -->


    <!-- Container for displaying bus information -->
    <div th:if="${busInfo != null}">
        <h2>Bus Information</h2>
        <h4>Bus Stop: <span th:text="${busStop.busStopCode}"></span></h4>
        <h4><span th:text="${busStop.roadName}"></span>, <span th:text="${busStop.description}"></span></h4>
        <table border ="1">
            <thead>
                <tr>
                    <th>Service No</th>
                    <th>Load</th>
                    <th>Feature</th>
                    <th>Type</th>
                    <th>Arrival</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="arrival : ${busInfo}">
                    <td><span th:text="${arrival.serviceNo}"></span></td>
                    <td><span th:text="${arrival.load}"></span></td>
                    <td><span th:text="${arrival.feature}"></span></td>
                    <td><span th:text="${arrival.type}"></span></td>
                    <td>
                        <span th:if="${arrival.busOrder == 'NextBus'}">
                            <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
                        </span>
                        <span th:if="${arrival.busOrder == 'NextBus2'}">
                            <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
                        </span>
                        <span th:if="${arrival.busOrder == 'NextBus3'}">
                            <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</body>

</html>

