<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Search</title>
</head>

<body>

    <h2>Bus Timing search: </h2>

    <form method="POST" th:object="${busStopCode}">
        <table>
            <tr>
                <td><label for="busStopCode">Bus Stop Code: </label></td>
                <td>
                    <input type="text" th:field="*{busStopCode}">
                    <span th:if="${#fields.hasErrors('busStopCode')}" th:errors="*{busStopCode}" class="error"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" formaction="/searchResult">Submit</button>
                    <button type="submit" formaction="/bookmark">Bookmark</button>
                </td>
            </tr>
        </table>
    </form>

    <!-- Container for displaying bus information -->
    <div th:if="${busInfo != null}">
        <h2>Bus Information</h2>
        <p th:each="arrival : ${busInfo}">
            Arrival Object: <span th:utext="${arrival}"></span><br>
            <hr>
        </p>
    </div>


    <!-- Container for displaying bus information -->
    <div th:if="${busInfo != null}">
        <h2>Bus Information</h2>
        <p th:each="arrival : ${busInfo}">
            Service No: <span th:text="${arrival.serviceNo}"></span><br>
            <!-- Estimated Arrival: <span th:text="${arrival.estimatedArrival}"></span><br> -->
            Load: <span th:text="${arrival.load}"></span><br>
            Feature: <span th:text="${arrival.feature}"></span><br>
            Type: <span th:text="${arrival.type}"></span><br>
            Arrival:
            <span th:if="${arrival.busOrder == 'NextBus'}">
                <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
            </span>
            <span th:if="${arrival.busOrder == 'NextBus2'}">
                <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
            </span>
            <span th:if="${arrival.busOrder == 'NextBus3'}">
                <span th:utext="${arrival.minutesUntilArrival}"></span> minute(s)
            </span>
            <hr>
        </p>
    </div>
</body>

</html>